// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$deepred: #9d1d22;
$orangered: #db8e6e;
$whitebeige: #f8f0de;
$yellowbeige: #f4dca5;
$grey: #5c606a;
$white: #ffffff;
